.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/javafx_sdk_23_0_2.xml
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
bin/application/AdminHomePage.class
bin/application/AdminSetupPage.class
bin/application/FirstPage.class
bin/application/InvitationPage.class
bin/application/SetupAccountPage.class
bin/application/SetupLoginSelectionPage.class
bin/application/StartCSE360.class
bin/application/User.class
bin/application/UserHomePage.class
bin/application/UserLoginPage.class
bin/application/WelcomeLoginPage.class
bin/databasePart1/DatabaseHelper.class
.classpath
.DS_Store
.project
bin/module-info.class
FoundationCode.iml
src/.DS_Store
bin/application/AdminHomePage$1.class
bin/application/AdminHomePage$2.class
bin/passwordEvaluation/PasswordEvaluator.class
bin/userNameRecognizer/UserNameRecognizer.class
/bin/
bin/nameRecognizer/NameRecognizer.class
bin/application/AdminHomePage$1.class
bin/application/AdminHomePage$1.class
bin/application/AdminHomePage$2.class
bin/application/AdminHomePage$1.class
bin/application/AdminSetupPage.class
bin/application/AdminHomePage.class
bin/application/StartCSE360.class
bin/application/SetupLoginSelectionPage.class
bin/emailEvaluation/EmailEvaluator.class
bin/module-info.class
bin/nameRecognizer/NameRecognizer.class
bin/application/AdminHomePage$1.class
bin/application/AdminHomePage$2.class
bin/application/AdminHomePage.class
bin/application/AdminSetupPage.class
bin/application/FirstPage.class
bin/application/InstructorHomePage.class
bin/application/InvitationPage.class
bin/application/ReviewerHomePage.class
bin/application/SetupAccountPage.class
bin/application/SetupLoginSelectionPage.class
bin/application/StaffHomePage.class
bin/application/StartCSE360.class
bin/application/StudentHomePage.class
bin/application/Test.class
bin/application/User.class
bin/application/UserHomePage.class
bin/application/UserLoginPage.class
bin/application/WelcomeLoginPage.class
bin/databasePart1/DatabaseHelper.class
bin/emailEvaluation/EmailEvaluator.class
bin/module-info.class
bin/nameRecognizer/NameRecognizer.class
bin/passwordEvaluation/PasswordEvaluator.class
bin/userNameRecognizer/UserNameRecognizer.class
*.meta
*.xml
